<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>swim_yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1596},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{20,18}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1596},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{20,18}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1596},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{20,18}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{25,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{25,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{25,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1346},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,21}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1346},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,21}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1346},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,21}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1460},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,20}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1460},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,20}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1460},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,20}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1537},{21,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1481},{21,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1510},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{21,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{25,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1566},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1429},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1315},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1368},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1399},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1254},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1285},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1169},{25,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{332,1168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,21},{332,1168}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{332,1168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,21},{332,1168}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>yuki.png</string>
			</dict>
		</dict>
</plist>