<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1323},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1290},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1483},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1548},{22,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{22,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1387},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1356},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{24,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1451},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{23,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1516},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1419},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1258},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{26,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1195},{27,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1227},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{351,1194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,0},{351,1194}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{351,1194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,0},{351,1194}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>magoichi.png</string>
			</dict>
		</dict>
</plist>