<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daigoro_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1353},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1289},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1321},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1450},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1418},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1482},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1546},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1514},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1386},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{24,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1256},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1224},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1192},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{25,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>daigoro_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{312,1191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,9},{312,1191}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{312,1191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,9},{312,1191}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>daigoro.png</string>
			</dict>
		</dict>
</plist>