<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fujin_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,64},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{31,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{31,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{30,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,32},{26,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{26,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,32},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{27,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,97},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{25,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,64},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,63},{27,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{27,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,97},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{25,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{31,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{30,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>fujin_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,96},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{30,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128,128}</string>
		<key>textureFileName</key>
		<string>fujin.png</string>
	</dict>
</dict>
</plist>
