<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magoichi_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,619},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,619},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,619},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,647},{22,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,619},{24,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,645},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,619},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,645},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,619},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,619},{26,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,645},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>magoichi_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,615}}</string>
                <key>sourceSize</key>
                <string>{262,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magoichi.pvr.ccz</string>
            <key>size</key>
            <string>{266,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27c4e57bd3f7d45a5840cba5c12cb71:f948aa7bfe78419ecd75dfde62a91e4e:2c077241c6edd60ceccfc56ef846c567$</string>
            <key>textureFileName</key>
            <string>magoichi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
