<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ranmaru_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1788},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1722},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1755},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1982},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{24,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1950},{25,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{25,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,2014},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,2014},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{24,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1917},{25,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{25,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,1982},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{24,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1821},{25,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{25,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1885},{25,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{25,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1853},{25,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{25,31}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ranmaru_s_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1199},{285,522}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,522}}</string>
			<key>sourceSize</key>
			<string>{285,522}</string>
		</dict>
		<key>ranmaru_s_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{387,1198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{242,0},{387,1198}}</string>
			<key>sourceSize</key>
			<string>{800,1200}</string>
		</dict>
		<key>ranmaru_s_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,0},{386,1195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{243,1},{386,1195}}</string>
			<key>sourceSize</key>
			<string>{800,1200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>textureFileName</key>
		<string>ranmaru.png</string>
	</dict>
</dict>
</plist>
