<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{110,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load_scene.pvr.ccz</string>
            <key>size</key>
            <string>{112,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c07a44a968078d17925e8594e8004a9b:8b84a644147a00a130e7744a1247cefc:d1412102668f58be3e52df1069e798f8$</string>
            <key>textureFileName</key>
            <string>load_scene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
