<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cm_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{774,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{774,190}}</string>
                <key>sourceSize</key>
                <string>{782,198}</string>
            </dict>
            <key>cm_frame_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,124},{252,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{252,64}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>save_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame.pvr.ccz</string>
            <key>size</key>
            <string>{1180,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f26fa286a29f7f55faec13c4490e3e26:623c573340e83bf3f6b70878d039f563:f7e3c0178d45797be29be97b0f28a86f$</string>
            <key>textureFileName</key>
            <string>frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
