<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nadeshiko_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{24,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nadeshiko_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nadeshiko.pvr.ccz</string>
            <key>size</key>
            <string>{28,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab11260860d892d96554e1f0cc1d4aad:2597f7955cb2901ff232d74c3a05f991:3594a8e161047bc8ba4cea209d24417a$</string>
            <key>textureFileName</key>
            <string>nadeshiko.pvr.ccz</string>
        </dict>
    </dict>
</plist>
